In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
from  sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,log_loss

In [3]:
star_ds = pd.read_csv('Dataset/6 class csv.csv')
star_ds.head()

,Temperature (K),Luminosity(L/Lo),Radius(R/Ro),Absolute magnitude(Mv),Star type,Star color,Spectral Class
0,3068,0.002400,0.1700,16.12,0,Red,M
1,3042,0.000500,0.1542,16.60,0,Red,M
2,2600,0.000300,0.1020,18.70,0,Red,M
3,2800,0.000200,0.1600,16.65,0,Red,M
4,1939,0.000138,0.1030,20.06,0,Red,M

In [4]:
star_ds.shape

(240, 7)

In [5]:
star_ds.describe()

,Temperature (K),Luminosity(L/Lo),Radius(R/Ro),Absolute magnitude(Mv),Star type
count,240.000000,240.000000,240.000000,240.000000,240.000000
mean,10497.462500,107188.361635,237.157781,4.382396,2.500000
std,9552.425037,179432.244940,517.155763,10.532512,1.711394
min,1939.000000,0.000080,0.008400,-11.920000,0.000000
25%,3344.250000,0.000865,0.102750,-6.232500,1.000000
50%,5776.000000,0.070500,0.762500,8.313000,2.500000
75%,15055.500000,198050.000000,42.750000,13.697500,4.000000
max,40000.000000,849420.000000,1948.500000,20.060000,5.000000

In [6]:
star_ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Temperature (K)         240 non-null    int64
 1   Luminosity(L/Lo)        240 non-null    float64
 2   Radius(R/Ro)            240 non-null    float64
 3   Absolute magnitude(Mv)  240 non-null    float64
 4   Star type               240 non-null    int64
 5   Star color              240 non-null    object
 6   Spectral Class          240 non-null    object
dtypes: float64(3), int64(2), object(2)
memory usage: 13.2+ KB

In [7]:
star_ds.isna().count()

Temperature (K)           240
Luminosity(L/Lo)          240
Radius(R/Ro)              240
Absolute magnitude(Mv)    240
Star type                 240
Star color                240
Spectral Class            240
dtype: int64

In [8]:
star_dum = pd.get_dummies(star_ds,drop_first = True)
star_dum.head()

,Temperature (K),Luminosity(L/Lo),Radius(R/Ro),Absolute magnitude(Mv),Star type,Star color_Blue,Star color_Blue White,Star color_Blue white,Star color_Blue white,Star color_Blue-White,...,Star color_Yellowish White,Star color_white,Star color_yellow-white,Star color_yellowish,Spectral Class_B,Spectral Class_F,Spectral Class_G,Spectral Class_K,Spectral Class_M,Spectral Class_O
0,3068,0.002400,0.1700,16.12,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,3042,0.000500,0.1542,16.60,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,2600,0.000300,0.1020,18.70,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,2800,0.000200,0.1600,16.65,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,1939,0.000138,0.1030,20.06,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [9]:
x = star_dum.drop('Star type',axis = 1)
y = star_dum['Star type']

In [10]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.3,random_state = 2022,stratify = y)

In [11]:
scaler = StandardScaler()
acc = []
loss = []
for n in range(1,30):
    knn = KNeighborsClassifier(n_neighbors = n)
    pipe = Pipeline([('scl',scaler),('knn',knn)])
    pipe.fit(x_train,y_train)
    y_pred = pipe.predict(x_test)
    y_pred_prob = pipe.predict_proba(x_test)
    print(f'k = {n}')
    print(accuracy_score(y_test,y_pred))
    acc.append(accuracy_score(y_test,y_pred))
    print(log_loss(y_test,y_pred_prob))
    loss.append(log_loss(y_test,y_pred_prob))
    print("_"*40)
print(f'Best accuracy score is {np.max(acc)} at k = {(np.argmax(acc)+1)} and \nbest log loss is {np.min(loss)} at k = {(np.argmin(loss)+1)}')

k = 1
0.9861111111111112
0.5006062970710725
________________________________________
k = 2
0.9722222222222222
0.5102333412455162
________________________________________
k = 3
0.9722222222222222
0.5158648010803518
________________________________________
k = 4
0.9722222222222222
0.5238559697595679
________________________________________
k = 5
0.9722222222222222
0.5384556813628106
________________________________________
k = 6
0.9722222222222222
0.5587136321176946
________________________________________
k = 7
0.9722222222222222
0.5851968972468711
________________________________________
k = 8
0.9583333333333334
0.6213249305957362
________________________________________
k = 9
0.9166666666666666
0.6594246547718181
________________________________________
k = 10
0.9027777777777778
0.6909526402620677
________________________________________
k = 11
0.9027777777777778
0.7234512750236026
________________________________________
k = 12
0.8888888888888888
0.7396755845222577
________________________________________
k = 13
0.8888888888888888
0.7610098221562532
________________________________________
k = 14
0.875
0.7791559815773833
________________________________________
k = 15
0.8611111111111112
0.8104279689395989
________________________________________
k = 16
0.8194444444444444
0.8398409878400741
________________________________________
k = 17
0.8194444444444444
0.8704226862995379
________________________________________
k = 18
0.8194444444444444
0.9034972583583962
________________________________________
k = 19
0.8194444444444444
0.9350058906997187
________________________________________
k = 20
0.7916666666666666
0.9635294001130484
________________________________________
k = 21
0.7777777777777778
0.9915298131236656
________________________________________
k = 22
0.7777777777777778
1.015722592471025
________________________________________
k = 23
0.75
1.0442392839813124
________________________________________
k = 24
0.7222222222222222
1.0635201832294545
________________________________________
k = 25
0.6944444444444444
1.0918982713859424
________________________________________
k = 26
0.6805555555555556
1.1153580230569429
________________________________________
k = 27
0.6805555555555556
1.138730601372263
________________________________________
k = 28
0.6527777777777778
1.1598906851032993
________________________________________
k = 29
0.6666666666666666
1.182508805632108
________________________________________
Best accuracy score is 0.9861111111111112 at k = 1 and
best log loss is 0.5006062970710725 at k = 1